:root{
    --primary: rgb(230, 195, 0);
    --background: rgb(189, 189, 189);
    --secondary: rgb(41, 41, 41);
}
body
{
    background-color: var(--background);
}
/* Nav section */
.navbar
{
width: 90%;
height: 10vh;
text-align: center;
display: flex;
justify-content:space-between;
background-color: white;
align-items: center;
margin: 0 auto;
border: 1px solid var(--background); 
background-color: var(--secondary);
}
nav .padre
{
    list-style-type: none;
    margin-right: 50px;
    padding: 0 auto;
    display: flex;
}
.hijo1, .hijo2, .hijo3,.hijo4, .hijo5, .hijo6
{
    display: inline-block;
    margin: 10px;
}
.logo
{
    width: 50px;
    height: 50px;
    border-radius: 2em;
    margin-left: 20px;
}
.fondo-logo{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fondo-logo h2{
    color: var(--primary);
}
a:visited
{
    color: rgb(82, 82, 82);
}
.padre a
{
    text-decoration: none;
    color: rgb(175, 174, 174);
}
a:hover
{
    color: rgb(252, 185, 1);
}
main
{
    height: 1000px;
    width: 90%;
    background-color: white;
    border: 1px rgb(221, 221, 221) solid;
    margin:0 auto;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
footer p
{
  text-align: right;
 color: blue;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
   
}
.hero-info{  
    width: 40%;
    text-align:center;
    color:var(--background);
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    border-radius: 1em;
    padding: 20px 50px;
}
.hero-info h3{
    font-size: 25px;
}
.hero img{
    width: 350px;
    height: 300px;
    align-items: center;
    box-sizing:content-box;
    box-shadow: 11px 11px 5px 0px black;
    border-radius: 2em;
    border: 2px solid black;
   
}
.hero-info img{
    width: 45px;
    height: 45px;
}
.hero-info a{
    margin: 10px;
}
.hero-info span{
   position: relative;
   bottom: 20px;}